body, button, input {
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    --main-color-1: rgb(107, 136, 239);
    --main-color-2: rgb(239, 107, 139);
    --main-color-2-a: rgba(239, 107, 139, 0.6);
    --outline-color: rgb(204, 204, 204);
    --shadow-color: rgba(0, 0, 0, 0.5);
    background-color: rgb(245, 245, 245);
    color: rgb(51, 51, 51);
    margin: 0;
}

*:focus {
    outline-color: var(--main-color-2);
    outline-offset: 2px;
}

header {
    position: sticky;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    max-width: 100svw;
    top: 0;
    background-color: var(--main-color-1);
    padding: 1em;
    font-weight: bold;
    border-radius: 0 0 0.75em 0.75em;
    box-shadow: 0 0.25rem 0.5rem var(--shadow-color);
    z-index: 2;
}

header span {
    color: #fff;
    flex-grow: 1;
}

header a {
    height: 100%;
    display: flex;
    align-items: center;
}

header .icon {
    height: 1.25em;
    fill: #fff;
}

.container {
    font-size: 0.75rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, min-content);
    align-items: start;
    gap: 1.5rem;
    background: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem var(--shadow-color);
    padding: 1.5rem;
    margin: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: var(--main-color-1);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.canvas-container {
    height: 100%;
    width: 100%;
    max-height: 80svh;
    aspect-ratio: 1;
    display: flex;
    justify-self: stretch;
    align-items: center;
}

.canvas {
    --marker-factor: 20;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    touch-action: none;
    user-select: none;
    margin: auto;
    border: 2px solid var(--main-color-1);
    border-radius: 0.75em;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3) inset;
    z-index: 0;
}

.canvas-group {
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0, 0.4));
}

.point-lbl .title {
    display: inline-block;
    width: 4em;
}

.controls {
    display: grid;
    width: 100%;
    gap: 0.3em;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.controls label {
    text-align: right;
    margin: 0;
}

.controls input, .controls select{
    font-size: 0.75rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 16rem; /* Constrain width for larger screens */
    border: 0.0625rem solid var(--outline-color);
    border-radius: 0.375rem;
    background: #fff;
    height: 2em;
    accent-color: var(--main-color-1);
    text-align: right;
}

.controls .control-grouped {
    display: flex;
    align-items: center;
    gap: 0.125em;
    width: 100%;
    max-width: 16rem;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0 auto;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="checkbox"]:checked {
    background-color: var(--main-color-1);
}

input[type="checkbox"]:checked::before {
    content: "✔";
    font-size: 140%;
    color: #fff;
    font-weight: bold;
}

.controls .slider-container input[type="number"] {
    max-width: 4em;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 0.25em;
    border-color: var(--outline-color);
}

input[type="color"]::-moz-color-swatch {
    border-radius: 0.25em;
    border-color: var(--outline-color);
}

input[type="range"] {
    --track-height: 0.5rem;
    --thumb-height: 1.5rem;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    background: transparent; 
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--track-height);
    cursor: pointer;
    background: var(--outline-color);
    border-radius: calc(var(--track-height)*0.5);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: var(--thumb-height);
    aspect-ratio: 1;
    background: var(--main-color-1);
    border-radius: 50%;
    margin-top: calc((var(--track-height) - var(--thumb-height)) * 0.5);
    cursor: pointer;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: var(--main-color-2) solid 2px;
    outline-offset: 2px;
}

/* Firefox */
input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--track-height);
    cursor: pointer;
    background: var(--outline-color);
    border-radius: calc(var(--track-height)*0.5);
}

input[type="range"]::-moz-range-thumb {
    height: var(--thumb-height);
    width: var(--thumb-height);
    background: var(--main-color-1);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    outline-color: 2px solid var(--main-color-2);
    outline: 2px;
}


.point-container {
    width: 100%;
}

.point-list {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.5em, auto));
}

.point-list > li {
    flex: 1 1 50%;
    display: flex;
    flex-wrap: nowrap;
    min-width: fit-content;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    padding: 0.75rem;
    border: 0.0625rem solid var(--outline-color);
    border-radius: 0.375rem;
    text-align: left;
}

.point-list > li input[type="number"] {
    width: 4.5em; /* Fit 3-4 digit numbers */
    margin: 0 0.5rem;
}


.point-list > li button {
    background-color: var(--main-color-2);
    color: #fff;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 2em;
    padding: 0;
    cursor: pointer;
}

.point-list > li button:focus {
    outline-color: var(--main-color-1);
}

.point-buttons {
    display: flex;
    justify-content: space-between;
}

.code-container {
    background: #555;
    color: #ddd;
    box-sizing: border-box;
    padding: 1.5em;
    width: 100%;
    border-radius: 0.75rem;
    box-shadow: 5px 5px 10px var(--shadow-color) inset;
    position: relative;
}

.code-container::before {
    content: "code:";
    position: absolute;
    font-family: monospace;
    font-weight: bold;
    top: 1em;
    left: 1em;
}

#copy-code-btn {
    position: absolute;
    bottom: 0.75em;
    right: 0.75em;
    box-shadow: 5px 5px 10px var(--shadow-color);
}

.code-container > pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.code-container .popup {
    visibility: visible;
    opacity: 0;
    bottom: 0;
    right: 0;
    margin: 0 0.75em;
    position: absolute;
    color: #333;
    background-color: #ddd;
    padding: 1.2em;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem var(--shadow-color);
    transition: visibility 0.2s, opacity 0.2s, bottom 0.2s;
}

.code-container .popup.show {
    bottom: 4em;
    visibility: visible;
    opacity: 1;
}

use {
    fill: var(--main-color-2-a);
    stroke: #fff;
    box-shadow: 5px 5px 10px var(--shadow-color);
}

.col-1 {
    grid-column: 1;
}

.col-2{
    grid-column: 2;
}

.col-1-2 {
    grid-column: 1/3;
}

@media only screen and (min-width: 768px) {
    .container {
        grid-template-columns: 2fr 2fr;
        grid-template-rows: min-content 1fr;
    }

    .controls {
        grid-row: 1/3;
        grid-column: 2;
    }

    .code-container {
        grid-row: 2;
    }

    .canvas {
        --marker-factor: 15;
    }
}

@media only screen and (max-width: 319px) {
    .point-list {
        grid-template-columns: repeat(auto-fit, minmax(7em, auto));
    }
    .point-list > li {
        flex-wrap: wrap;
    }
}