.canvas {
    width: 500px;
    height: 500px;
    background: lightgray;
    touch-action: none;
    user-select: none;
}

.canvas svg {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
}

.controls {
    margin: 2rem;
}

.slider-container {
    display: flex;
}

.slider-container input:last-of-type {
    width: 3em;
}

.code-container {
    width: 50vw;
    position: relative;
    padding: 1.5em;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

li input {
    width: 4em;
    text-align: right;
}

use {
    fill: #faa8;
    stroke: #fffa
}


#path-code {
    white-space: pre-wrap;
}

#copy-code-btn {
    position: absolute;
    right: 1em;
    top: 1em;
}
